*{
  padding: 0;
  margin: 0;
}
body{
  overflow-x: hidden;
}

/* banner-background-section */

.main-banner-section {
  background: radial-gradient(circle at 70% 40%, #1c5db4 0%, #003366 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@media (max-width: 768px) {
  .main-banner-section {
    background: radial-gradient(circle at center, #1c5db4 0%, #003366 100%);
    background-size: cover;
    height: 100vh;
  }
}

/* header-section */

.logo-img{
    width: 138.42px;
    height: 98.45px;
    background-color: #FFCB05;
    border-radius: 0 0 30px 0;
}
.logo-img img{
    width: 91px;
    height: 32px;
    margin: 30px 20px;
}
@media(max-width: 768px){
    .logo-img{
        width: 83px;
        height: 59.03px;
    }
    .logo-img img{
        width: 54.56px;
        height: 19.19px;
        margin: 20px 10px;
    }
}

/* container-banner-section */

.banner-container{
    top: 20%;
    color: white;
}
@media(max-width: 768px){
    .banner-container{
        top: 10%;
    }
    .banner-parent-section{
        gap: 30px;
    }
}
.banner-left-card h5{
    font-size: 18px;
    font-weight: 500;
    color: #FFCB05;
}
.banner-left-card h1{
    font-size: 57.09px;
    font-weight: bold;
    color: #FFCB05;
}
.banner-left-card span{
    font-weight: normal;
    color: white;
}
.banner-left-card li{
    font-size: 14px;
}
.placement-sec{
    gap: 40px;
}
.placement-sec h3{
    font-size: 35px;
    font-weight: bold;
}
.placement-sec p{
    font-size: 22px;
    font-weight: 400;
}
@media(max-width: 768px){
    .banner-left-card h5{
        font-size: 14px;
    }
    .banner-left-card h1{
        font-size: 35px;
        padding-bottom: 25px;
    }
    .placement-sec{
        margin: 0 10px;
    }
    .placement-sec h3{
        font-size: 23.14px;
    }
    .placement-sec p{
        font-size: 14.55px;
    }
}

.form-card-section{
    width: 536px;
    height: 259px;
    margin: 80px 90px;
}
@media(max-width: 768px){
   .form-card-section{
    margin: 0 0;
    width: auto;
    height: auto;
   }
}

/* curriculum-section */

.curriculum-section{
    padding-top: 38px;
    background-color: #F4F4F4;
}
.curriculum-section h5,
.curriculum-section h1{
    color: #0E2A4B;
    font-weight: bold;
}
.curriculum-section h1{
    font-size: 45px;
}
.curriculum-section span{
    color: #FFCB05;
}
.curriculum-child-card div{
    height: auto;
    margin: 20px 0;
}
.curriculum-child-card {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
@media(max-width: 768px){
    .curriculum-child-card{
        margin: 0;
        padding: 0 0;
    }
}

.button-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button-panel button {
  flex: 1;
  width: 100%;
  border: none;
  padding: 15px;
  font-weight: 600;
  background-color: #fff;
  color: #0E2A4B;
  border-radius: 20px;
  transition: 0.3s;
}
.button-panel button.active {
  background-color: #0061AF; 
  color: #fff;
}
.button-panel button.active:hover{
  background-color: #0061AF;
  color: #fff;
}
@media (max-width: 768px) {
  .button-panel {
    flex-direction: row;           
    overflow-x: auto;              
    overflow-y: hidden;
    white-space: nowrap;
    height: auto;
    gap: 8px;
    padding-bottom: 10px;
  }

  .button-panel button {
    flex: 0 0 auto;
    width: 60%;                   
    font-size: 14px;
    white-space: normal;           
    word-wrap: break-word;         
    overflow: hidden;              
    text-overflow: ellipsis;       
    padding: 10px;                
  }
}

.content-panel-para{
    background-color: none;
}
.content-panel{
    background: linear-gradient(to bottom, #FFFFFF, #E3F0FF);
    padding: 20px 40px;
    border-radius: 20px;
}
.content-panel-para {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
}
@media (max-width: 768px) {
  .content-panel-para {
    flex-direction: row; 
    flex-wrap: wrap;    
    justify-content: start;
  }
}

.content-panel-para p,
.relevent-projects p{
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
}
.content-panel button{
    padding: 5px 55px;
    border: none;
    color: white;
    background-color: #0061AF;
    border-radius: 10px;
}
.content-panel button:hover{
    background-color: #002747;
}
.content-panel p,
.content-panel li{
    font-size: 14px;
    color: #6e6e6e;
    font-weight: 400;
}

  /* succes-slider-section */

.container-wrapper {
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}
.parent-div {
    display: flex;
    overflow: hidden;
    gap: 20px;
    padding: 35px 50px;
    scroll-behavior: smooth;
}
.child-div {
    min-width: calc(25.333% - 14px);
    height: auto;
    border-radius: 10px;
    display: flex;
    padding: 25px 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    border: 1px solid #53ADF5;
    background: linear-gradient(to bottom, #FFFFFF, #E3F0FF);
}
.child-div p{
    font-size: 14px;
    margin-top: 10px;
    color: gray;
    font-weight: 400;
}

@media (max-width: 768px) {
    .child-div {
        min-width: calc(100% - 0px);
    }
    
    .parent-div {
        gap: 20px;
    }
}
.child-div .number {
    font-size: 48px;
    margin-bottom: 10px;
}
.controls,
.controls-1 {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btn-prev, 
.btn-next{
    border: 1px solid #53ADF5;
    background: white;
    border-radius: 50%;
    height: 40px;
    width: 50px;
    font-size: 30px;
    padding-bottom: 50px;
}
.btn-nav:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.btn-nav:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: scale(1);
}

.shadow-section-left,
.shadow-section-right {
  height: 530px;
  width: 120px;
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0.9;
  pointer-events: none; 
}
.shadow-section-left {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 40%, 
    rgba(255, 255, 255, 0.8) 70%, 
    rgba(255, 255, 255, 0) 100%  
  );
}
.shadow-section-right {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 40%,     
    rgba(255, 255, 255, 0.8) 70%,  
    rgba(255, 255, 255, 0) 100%    
  );
}
.shadow-section{
    margin: 100px 0;
}
@media(max-width: 768px){
.shadow-section div{
    display: none;
  }
}


/* hiring-section */

.success-heading span{
    color: #FFCB05;
}
.success-heading{
    margin-top: 50px;
    font-size: 42px;
}

.hiring-logo-section{
    justify-content: space-between;
    margin: 60px 0;
}
.hiring-section{
  margin: 40px 0;
}
.hiring-section h1{
    font-weight:  bold;
}
.hiring-logo-img{
    justify-content: space-between;
    display: flex;
    padding: 20px 0;
}
.hiring-section-card div{
    color: white;
    height: 128px;
    gap: 20px;
    background-color: #003366;
    border-radius: 15px;
    top: 20;
}

/* why-choose-niit-section */

.why-choose {
  background: radial-gradient(circle at 70% 40%, #1c5db4 0%, #003366 100%);
  margin: 40px 0;
}

.choose-card {
  background: linear-gradient(to bottom, #ffffff, #e3f0ff);
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.why-choose h1 span {
  color: #ffc107;
}
.why-choose h5{
  font-size: 16px;
}

/* relevent-project-section */

.relevent-project-card{
  gap: 20px;
  padding-top: 40px;  
}
.relevent-section{
  padding: 40px 0;

}
.relevent-heading span{
  color: #ffc107;
}
.relevent-project-card > div{
  height: auto;
  background: linear-gradient(to bottom, #FFFFFF, #deedff);
  border: 1px solid #53ADF5;
  border-radius: 10px;
  padding: 40px;
}
.relevent-projects{
  gap: 10px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;  
  gap: 10px;  
}
.relevent-project-card ul{
  color: gray;
}
.controls-1{
  margin-top: 40px;
}
@media(max-width: 768px){
  .relevent-projects p{
    justify-content: center; 
  }
}
