*{
  padding: 0;
  margin: 0;
}
body{
  overflow-x: hidden;
}


.banner-section {
  position: relative;
  z-index: 1;
  background: radial-gradient(circle at 70% 40%, #1c5db4 0%, #003366 100%);
  height: 100vh;
}
.header-section {
  position: absolute;
  width: 100%;
  z-index: 10;        
}
.header-section button{
  color: #0061AF;
}
.logo-img{
  background-color: #FFCB05; 
  width: 138px; 
  height: 98.45px; 
  border-radius: 0 0 20px 0;
}
.request-btn{
  margin-right: 30px; 
  width: 222px; 
  height: 40px; 
  padding: 8px 10px;
}
.container-parent{
  padding-top: 170px;
  gap: 20px;
}
.container-parent div{
  height: auto;
}
.h-div h1{
  font-size: 57.09px;
  color: #FFCB05;
  font-weight: bold;
}
.h-div span{
  font-weight: normal;
  color: white;
}
.h-div h5{
  font-size: 18px;
  color: #FFCB05;
}
.h-div li{
  font-size: 16px;
}
.placement-sec{
  height: 75px;
  width: 546px;
  gap: 40px;
}
.placement-sec h3{
  font-size: 35px;
  font-weight: bold;
}
.placement-sec p{
  font-size: 22px;
}
.form-div{
  position: relative;
  top: 70px;
}
.form-div h5{
  font-weight: bold;
}
.form-mobile-input input::placeholder {
  font-size: 16px; 
}
.banner-form-section button{
  background-color: #FFCB05;
  color: #0061AF !important;
}

/* Banner Responsive section */

@media(max-width: 768px){
  .banner-section{
    height: auto;
    min-height: 100dvh; 
  }
  .logo-img{
  width: 83px; 
  height: 59.05px;
}
.logo-img img{
  height: 19.19px;
  width: 54.56px;
}
.request-btn{
  margin-right: 10px; 
  width: 149px; 
  height: 40px;
  font-size: 14px !important;
}
.h-div h5{
  font-size: 14px;
  padding: 5px 5px;
}
.h-div h1{
  font-size: 35px;
  padding: 10px 5px;
}
.h-div li{
  font-size: 14px;
  padding: 0;
}
.h-div ul{
  padding-top: 20px;
}
.placement-sec{
  width: auto;
  padding: 15px 10px;
  gap: 15px;
}
.placement-sec h3{
  font-size: 23.14px;
}
.placement-sec p{
  font-size: 14.55px;
}
.container-parent{
  padding-top: 120px;
  gap: 20px;
}
.form-div {
  width: 100%;
  top: 0;
  padding: 10px;
  margin-bottom: 20px;
}
}